fastapi
requests
protobuf
uvicorn
gradio==3.36.1
gradio-client==0.2.9
markdown2[all]
numpy
ninja
decord
scikit-image
opencv-python-headless
prettytable
accelerate
einops
sentencepiece
tokenizers>=0.13.3
transformers==4.35.0
scikit-image
evaluate
bert_score
rouge_score
datasets
packaging
nltk
scikit-learn>=1.2.2
pandas>=1.5.3
byted-wandb
peft==0.5.0
deepspeed==0.9.5